body{
  background-color: #533d94
}
.box{
  width: 200px;
  height: 250px;
  background-color: green;
}
.box2{
  width: 200px;
  height: 250px;
  background-color: green;
}
.box3{
  width: 200px;
  height: 250px;
  background-color: green;
}
.panell{
  width: 300px;
  height: 800px;
  background-color: blue;
}