body{
  background-color: #050536
}
.container{
  width: 1300px;
  height: 625px;
}
.box{
  width: 200px;
  height: 625px;
  float: left;
  background-color: green;
}
.content{
  width: 1300px;
  height: 625px;
  background-color: brown;
  padding-left: 20px;
}
.friend{
  width: 200px;
  height: 625px;
  float: right;
  background-color: chartreuse;
}